.image-pub-container {
    display: flex;
    height: 100vh; /* Make container full height of viewport */

}
  
.image-thumbnails {
    flex: 0 0 20%; /* Set width to 20% of container */
    overflow-y: auto; /* Add scrollbar if necessary */
}
  
.big-image-container {
    flex: 1; /* Take remaining space */
    overflow: hidden;
}
  
.thumbnail-column {
    display: flex;
    flex-direction: column;
}
  
.thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.selected {
    border: 2px solid rgb(0, 0, 0); /* Change border color or add any other style to indicate selection */
}
  
.big-image {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Prevent image from overflowing container */
    object-fit: contain; /* Maintain aspect ratio and fit within container */
}
/* line Style under the images */
hr{
    border: 4px solid #9b9595;
    width: 300px;
    border-radius: 50px;
    display: block;
    margin: 30px auto;
}
.title-detaille {
    text-align: center; /* Center align the content */
    max-width: 800px; /* Set a maximum width for better readability */
    margin: 0 auto; /* Center the element horizontally */
    padding: 10px; /* Add some padding for spacing */
    background-color: #f9f9f9; /* Optional: add background color for better contrast */
    border-radius:none; 
}

.title-detaille h1 {
    font-size: 35px; /* Increase the font size for the title */
    font-weight: bold; /* Make the title bold */
    margin: 20px;
    font-family: "ABeeZee-Regular", Helvetica;
    padding-top: 5px;
}

.title-detaille h6 {
    margin-bottom: 0px;
    font-weight: 200;

}

.title-detaille p {
    font-size: 18px; /* Set font size for the paragraph */
    line-height: 1.6; /* Set line height for better readability */
    margin-top: 50px;
}




@media (min-width: 1024px) {
    .image-pub-container {
        margin-top: 100px;
        margin-left: 50px;
    }
    .big-image {
        height: 100%; /* Maintain aspect ratio */

    }






}
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) {
    .big-image {
        margin-left: 15px;
        max-height: 80%; /* Prevent image from overflowing container */
    }
    hr{
        display: none;  /* dislpay the line */  
    }
      
}
  
  
/* Responsive styles */
@media (max-width: 768px) {
    .image-pub-container{
        margin:10px;
    }
    .big-image {
        max-height: 65%; /* Prevent image from overflowing container */
        width: 90%;
        margin-left: 20px;
        
    }
    hr{
        display: none;/* dislpay the line */
    }
    .title-detaille{
        position: relative;
        top: -260px;
    }

      
}